<div class="container-two">
    <div class="capa-black"></div>
    <article>
        <h1>Magtimus Secundario</h1>
        <hr>
       
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quibusdam rerum voluptates voluptatibus dolor itaque! Veritatis molestiae nemo optio possimus, ratione natus minima dicta! Obcaecati, odit. Dolor maiores fugiat laboriosam ratione dolorum temporibus possimus consequuntur voluptatum distinctio, esse nesciunt excepturi suscipit eos impedit accusamus aliquid nobis, eaque natus? Blanditiis repellendus delectus eveniet! Porro architecto reprehenderit mollitia veritatis dolorem dolores illo.</p>
        <button>Ver mas detalles</button>
    </article>
    
</div>